@{
    ViewData["Title"] = "Cruises Home Page";
}
<div class="text-center">
    <section id="header" style="padding:90px 0 45px 0">
        <h1 class="display-4" id="h1"
            style="font-family: 'Pacifico', cursive; color: coral; font-size: 80pt;">
            Set Sail with<br>Enchanted Escala<br>Cruises
        </h1>
    </section>
</div>
<style>
    #header {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('https://cdn.mos.cms.futurecdn.net/K6WmxeWt9gT5CcQQRKUuQM.jpg') no-repeat;
        background-size: cover;
    }

    #h1 {
        padding: 100px 0 100px 0;
        color: white;
        font-weight: 800;
    }
</style>
