@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At "Enchanted Escala Cruises" our team always works hard to provide top-notch and cost-effective solutions. We make sure to handle every aspect of a project with care. Our company has a strong history in different cruise activities. We use modern technologies and smart management to make things safer and more efficient for everyone involved.</p>
