@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Within the cruise company, the "Enchanted Escala" team prioritizes quality, efficiency, and competitive pricing. Their comprehensive service process spans the project lifecycle, utilizing global experience, modern technology, and efficient management to excel in various engineering activities while emphasizing safety and labor efficiency.
</p>
